
@{
    ViewBag.Title = "FAQ";
}
<head>
    <meta charset="utf-8">
    <title>RECIPES</title>
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/wowslider.js")
    @Styles.Render("~/Content/slider.css")
    @Scripts.Render("~/Content/slider.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/jquery.js")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        body {
            background: #FCB716;
        }


        h4 {
            display: block;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
    </style>
</head>
<h1>Frequently Asked Questions</h1>
<br /><br />
<h4>How do I cancel my order?</h4>
<p>If ýour order is still inside the shopping cart then you can delete it my cliking the cancel button</p><br />

<h4>How do I view my information</h4>
<p>Go to the top menu bar and click you <b>"Customer Information"</b></p><br />
<h4>what is your location?</h4>
<p>Go to the bottom of the page and click you <b>"Location"</b></p><br />
<h4>Is this website safe?</h4>
<p>Yes its very safe"</p><br />