
@{
    ViewBag.Title = "Privacy";
}
<head>
    <meta charset="utf-8">
    <title>RECIPES</title>
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/wowslider.js")
    @Styles.Render("~/Content/slider.css")
    @Scripts.Render("~/Content/slider.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/jquery.js")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        body {
            background: #FCB716;
        }

        h4 {
            display: block;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
    </style>
</head>
<h1>Privacy</h1>
<br /><br />
<h4>Our Privacy Details</h4>
<p>
    We really believe in the privacy of our team members
    Stove Top roasting
    2. Place sweet potato on low to medium flame and cover with metal bown or stainless steel pot. The dome must cover the entire potato
    3. Periodically use kitchen mittens to lift dome and turn potato.
    4. Roast for 15 – 20 minutes. Pierce the potato with a form or skewer if the center is soft, it is roasted.
    5. Turn flame off. Allow to cool them peal.
    6. Oven Roasting/baking.
    7. As you will have more space. We recommend you bake several potatoes. Heat oven to 400 degrees
</p><br />
