
@{
    ViewBag.Title = "Privacy";
}
<head>
    <meta charset="utf-8">
    <title>RECIPES</title>
    @Styles.Render("~/Content/css.css")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/wowslider.js")
    @Styles.Render("~/Content/slider.css")
    @Scripts.Render("~/Content/slider.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/jquery.js")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        body {
//background: #FCB716;
background-image: url('~/img/background.jpg');

        }

        h4 {
            display: block;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        .bgimg{
            //background-image: url("~/img/background.jpg");
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
  
<div class="bgimg">
    <h1>Privacy</h1>
    <br /><br />
    <h4>Our Privacy Details</h4>
    <p style="text-align:justify">
        How is your information used?  Your information is used to complete your transactions
        or to track your visit to our website. We do not share or provide to any third party your
        information, except where same is required by our partners to process, complete your transactions
        and for shipping and delivery to you.  Your credit or debit card is not processed on our website,
        but on  secured, encrypted sites with whom we partner for the processing of all your payment
        transactions.  You will receive confirmation of all transactions sent to the email address
        provided by you.  Your credit card number is masked or will display the 4 ending digits only,
        with your name and address.  It may also contain if your transaction is completed face to face
        your signature, confirming the identity of the person completing the transaction. See terms
        of use and  privacy policy PayPal and Square Inc.<br /><br />

        When you provide us with information through our contact form or when placing orders,
        this information is only used to better communicate  with you and provide you with services,
        such as; information, billing, forwarding documentation to you, shipping and delivery services.
        Your information is used only by staff authorized and committed to protecting your information
        as best as possible.   For shipping and delivery your personal information such as name, address
        and telephone number is provided to our shippers to   complete your delivery and to enable you to track your shipment.


    </p>
</div>
</body>
<br />
